.App {
  padding: 0 25px;
}
.flex{
  display: flex;
  padding-bottom:10px;
}
.input{
  padding-left: 20px;
}
.contain {
  padding: 20px 50px;
  display: flex;
  line-height: 50px;
}
.padding-block {
  width: 50px;
  height: 52px;
}
th,
td {
  display: inline-block;
  padding: 0 20px;
  margin: 0 20px;
  border: 1px solid black;
}
.main-title {
  padding: 50px 300px;
  text-align: center;
  font-size: 45px;
  font-weight: 500;
}
